.footer{
    background: blue;
    color: #fff;
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .col{
        border: 1px solid green;
        width: fit-content;
        margin: 25px 50px;
    }
    a{
        color: #fff;
        font-size: 20px;
        margin: 10px;
    }
    .links{
        display: flex;
        flex-direction: column;

    }
    h6{
        font-size: 22.5px;
        margin-bottom: 15px;
    }
}